.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* background-color: aliceblue; */
    padding: 4px;

}

.nav-list li{
    margin-left: 12px;
    background-color: rgb(50, 95, 218);
    padding: 4px 8px;
    border-radius: 2px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}